# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/src/index.php
/src/languages
/src/plugins/index.php
/src/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/src/themes/twenty*/

# Example plugin
/src/plugins/hello.php
/src/plugins/akismet

# Uploads
/src/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/src/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/src/themes

!.gitkeep
